.timeline-gradient {
  background: linear-gradient(to bottom, var(--tw-gradient-stops));
  -webkit-mask-image: linear-gradient(to bottom,transparent 0%,black 10%,black 90%,transparent 100%);
  mask-image: linear-gradient(to bottom,transparent 0%,black 10%,black 90%,transparent 100%);
}
